---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Resume">
	<main class="relative grow px-12 py-16 print:p-0">
		<article
			class="grid w-full grid-cols-[max-content_24rem] justify-center print:grid-cols-[2fr_1fr]"
		>
			<div class="mb-8">
				<h1 class="text-4xl uppercase">Eric Lavigne</h1>
				<h2 class="text-2xl uppercase text-slate-600">Staff Engineer - Team Lead</h2>
			</div>
			<div class="bg-slate-700"></div>
			<div class="pattern-bg prose prose-sm grow pr-8">
				<h3>Summary</h3>
				<hr />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet euismod nisi, sed
					efficitur orci euismod vitae. Quisque at scelerisque odio. Donec interdum sem a convallis
					feugiat. Aliquam ultrices orci sollicitudin, viverra nibh vel, tristique enim. Suspendisse
					pulvinar, erat non eleifend viverra, nisl augue ultricies diam, non interdum nisi ex
					facilisis libero. Phasellus ultricies feugiat eros nec bibendum. Proin ac tincidunt est,
					non pellentesque leo. Morbi id congue urna. Duis ullamcorper risus et justo vulputate
					venenatis.
				</p>
				<h3>Experience</h3>
				<hr />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet euismod nisi, sed
					efficitur orci euismod vitae. Quisque at scelerisque odio. Donec interdum sem a convallis
					feugiat. Aliquam ultrices orci sollicitudin, viverra nibh vel, tristique enim. Suspendisse
					pulvinar, erat non eleifend viverra, nisl augue ultricies diam, non interdum nisi ex
					facilisis libero. Phasellus ultricies feugiat eros nec bibendum. Proin ac tincidunt est,
					non pellentesque leo. Morbi id congue urna. Duis ullamcorper risus et justo vulputate
					venenatis.
				</p>
				<h3>Education</h3>
				<hr />
				<h4>University of Waterloo <span class="float-right">2010-2015</span></h4>
				<h5>Bachelor of Computer Science</h5>
				<h6 class="text-sm">
					Honours Computer Science & Join Honours Psychology - Co-operative Program
				</h6>
			</div>
			<div class="prose prose-sm prose-invert bg-slate-700 px-8">
				<h3>Strengths</h3>
				<hr class="border-slate-200" />
				<h3>Skills</h3>
				<hr class="border-slate-200" />
				<ul>
					<li>Typescript, Javascript</li>
					<li>HTML, CSS, Less, Sass</li>
					<li>Go</li>
					<li>React</li>
					<li>Apollo, Redux</li>
					<li>NodeJS, Express</li>
					<li>Tailwind</li>
					<li>HTMX</li>
					<li>Jenkins</li>
					<li>Docker</li>
					<li>NX</li>
				</ul>
			</div>
		</article>
	</main>
</Layout>

<style></style>
