---
import '@fontsource/poppins'
import { Image } from 'astro:assets'
import NavLink from '../components/NavLink.astro'
import meImage from '../images/me.jpg'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav
			class="sticky left-0 right-0 top-0 z-50 flex items-center bg-white px-8 pt-4 pb-2 drop-shadow-md"
		>
			<div class="grow">
				<a class="inline-flex items-center" href="/"
					><Image
						class="mr-4 inline-block h-10 w-10 rounded-full ring-2 ring-white"
						src={meImage}
						alt="me"
					/>Eric Lavigne</a
				>
			</div>
			<div class="flex gap-8">
				<NavLink href="/">About Me</NavLink>
				<NavLink href="/resume">Resume</NavLink>
				<NavLink href="/projects">Projects</NavLink>
				<NavLink href="/blog">Blog</NavLink>
				<NavLink href="/contact">Contact</NavLink>
			</div>
		</nav>
		<div class=" z-50 h-2 w-full bg-white"></div>
		<slot />
	</body>
</html>
<style is:global>
	html,
	body {
		min-height: 100vh;
		flex-direction: column;
		display: flex;
	}
</style>
